.container {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 20px;
}

h3 {
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;
}

h1 {
    line-height: 2px;
}